/**************************************/
/********** DEBUGGING STYLES **********/
/**************************************/


/********** MAIN **********/

.value {
	opacity: 70%;
}
pre {
	border-radius: 10px;
	display: table;
	margin-left: 1em;
	border-spacing: 1em;
}

.debug {
	background-color: dodgerblue;
	padding: 2px 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-family: arial;
	font-size: 0.9em;
	color: white;
	margin-left: 0.8em;
}

/********** STATUS STYLES **********/
.err, .ok, .hint {
	border-radius: 0.5em 0 0 0.5em;
	border-left: 0.7em solid whitesmoke;
	margin-left: 0em;
}
.err {
	border-color: red;
}
.ok {
	border-color: lime;
}
.hint {
	border-color: darkorange;
}
