/**************************************/
/********** DEBUGGING STYLES **********/
/**************************************/
body{
	background-color: grey;
}
section{
	margin: 10px auto;
	background-color: white;
	color: black;
	width: 210mm;
	height: 297mm;
	padding: 10mm;
}

/********** MAIN **********/

.value {
	opacity: 70%;
}
pre {
	border-radius: 10px;
	display: table;
	margin-left: 1em;
	border-spacing: 1em;
}

.debug {
	background-color: dodgerblue;
	padding: 2px 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-family: arial;
	font-size: 0.9em;
	color: white;
	margin-left: 0.8em;
}

/********** TABLES **********/
table {
	width: 100%; 
	font-family: courier new; 
	font-size: 0.9em; 
}
table, td { 
	border: 1px solid teal; 
	border-collapse: collapse;
}
th {
	background-color: lightblue; 
	padding: 10px;
}
td {
	padding: 10px;  
	text-align: center; 
	color: teal;
}
tr:nth-child(even) {
	background-color: #eee;
}
tr:hover {
	background-color: #dee;
}

/********** STATUS STYLES **********/
.err, .ok, .hint {
	border-radius: 0.5em 0 0 0.5em;
	border-left: 0.7em solid whitesmoke;
	margin-left: 0em;
}
.err {
	border-color: red;
}
.ok {
	border-color: lime;
}
.hint {
	border-color: darkorange;
}
